PORT=4000
NODE_ENV=DEVELOPMENT
DB_URI=mongodb://localhost:27017/pgsfashion

# Gemini AI API Key
GEMINI_API_KEY=

# Razorpay Keys
RAZORPAY_API_KEY=
RAZORPAY_API_SECRET=

# ImageKit Keys
YOUR_API_KEY=
CLIENTID=
SECRETID=

# JWT Secret
JWT_SECRET=

# Email Notifications (SMTP)
SMPT_SERVICE=
SMPT_MAIL=
SMPT_PASSWORD=
SMPT_HOST=
SMPT_PORT=
